$primary-color: #409eff;
$primary-light-color: #d9ecff;
$primary-lighter-color: #ecf5ff;
$success-color: #67c23a;
$success-light-color: #e1f3d8;
$success-lighter-color: #f0f9eb;
$warning-color: #e6a23c;
$warning-light-color: #faecd8;
$warning-lighter-color: #fdf6ec;
$danger-color: #f56c6c;
$danger-light-color: #fde2e2;
$danger-lighter-color: #fef0f0;
$info-color: #909399;
$info-light-color: #e9e9eb;
$info-lighter-color: #f4f4f5;

$primary-text-color: #303133;
$regular-text-color: #606266;
$secondary-text-color: #909399;
$placeholder-color: #c0c4cc;

$border-base-color: #dcdfe6;
$border-light-color: #e4e7ed;
$border-lighter-color: #ebeef5;
$border-extralight-color: #f2f6fc;

$background-b: #000;
$background-w: #fff;

$border-radius: 4px;
